body{
    background-color:rgb(240, 240, 240);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 255, 0.519);
    font-size: 60px;
}

.encabeza{
    /*background-color: rgb(230, 230, 230);*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    /*border: 50px solid rgb(200, 200, 200);*/
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
p.main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:darkblue;
}
p.pie{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a.descarga:link, a.descarga:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a.descarga:hover, a.descarga:active 
{
    background-color: red;
}
 
div#content 
{
    background-image: url(images/CapWeb.png);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    /* You may add things like width, height, background-size... */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
