h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-size:xx-large
}

p.main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:darkblue;
}

p.pie{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}